# Working With List

In [8]:
#lists
empty_list=[]
int_list=[1,2,3,4,5]
float_list=[1.0,2.0,3.0,4.0,5.0]
string_list=["Many words","improverished meaning"]
mixed_list=[1,2.0,"Mix it up"]

print(empty_list)  
print(int_list)  
print(float_list)  
print(string_list)  
print(mixed_list)

[]
[1, 2, 3, 4, 5]
[1.0, 2.0, 3.0, 4.0, 5.0]
['Many words', 'improverished meaning']
[1, 2.0, 'Mix it up']

##Concatenation: Lists

In [10]:
list1 = [5,4,9,10,3,5]
list2 = [6,3,2,1,5,3]
join_lists=list1+list2

print("list1:", list1)
print("list2:", list2)
print(join_lists)

list1: [5, 4, 9, 10, 3, 5]
list2: [6, 3, 2, 1, 5, 3]
[5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5, 3]

a for loop using in range will cycle through variable i from integer j to k - 1 by increments for l
for i in rang(j,k,l):

execute script

# For Loops and _range()_


| New Concepts | Description |
| --- | --- |
| _list(obj)_ | List transforms an iterable object, such as a tuple or set, into a dynamic list. |
| _range(j, k , l)_ | Identifies a range of integers from _j&nbsp;_ to _kâ€“1_ separated by some interval _l_. |
|_len(obj)_ | Measure the length of an iterable object. |


We can use a for loop to more efficiently execute this task. As we saw in the last chapter, the for loop will execute a series of elements: for element in list. Often, this list is a range of numbers that represent the index of a dynamic list. For this purpose we call:

In [13]:
for i in range(1, 100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [18]:
total = 0
for i in range(1, 101):
    total = total + i
    print(i,total)
print(total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
5050

In [22]:
total = 0
for i in range(1, 101,2):
    total = total + i
    print(i,total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [17]:
lsit1=[543,342,6,435,543]
str1 ="jhti4k3h2u3i"

for val in list1:
    print(val)
    
for string in str1:
    print(string, string =="k")

5
4
9
10
3
5
j False
h False
t False
i False
4 False
k True
3 False
h False
2 False
u False
3 False
i False

In [3]:
list1 =[1,2]
list2 =[3,4]
list1 +list2

[1, 2, 3, 4]

#More on range()

In [6]:
list1 =[]
for i in range(0,9,2):
    print(i)
    list1.append(i)
print(list1)
#crate a list by appending valuses to the list

0
2
4
6
8
[0, 2, 4, 6, 8]

In [7]:
#create a list by passing list(range(i,j,l))
#more efficent then using append
list2= list(range(0,9,4))
list2

[0, 4, 8]

In [8]:
list2= list(range(0,9,1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

# Using len() with range

In [11]:
list2_len = len(list2)
print("i","val")
for i in range(list2_len):
    print(i,list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

In [18]:
list2_len =len(list2)
print("i","val")

#create a new list2 according to the intveral values clled by the for loop
for interval in range(1,6):
    list2 = list(range(0,9, interval))
    print(interval,list2)
    list2_len=len(list2)
    print("length:",list2_len)
    print("j","val")
    
    for j in range(list2_len):
        print(j, list2[j])

i val
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

# If statements and boolean variables

In [19]:
#Boolean
True

True

In [20]:
False

False

In [21]:
True * False

0

In [22]:
True * True

1

In [23]:
False * False

0

In [25]:
boolean = True 
if boolean: 
    print(boolean)
    
boolean2 = False 
if boolean2:
    print(boolean)
    #only prints if true

True

In [27]:
boolean = True 
if boolean: 
    print(boolean)
    
boolean2 = False 
if boolean2 == False: 
    print(boolean)
    #the way to change the disired outcome

True
True

In [1]:
# != means "not equal"
1 != True

False

## Use a voolean variable and a conditional statement to track the appearance of a word

In [8]:
words =("The", "dog", "ate", "the", "snow")
# the word "ate" appear in the list? if so where?
ate_index_list=[]
num_words = len(words)
for i in range(num_words):
    word = words[i]
    print(i, word)
    is_ate= word =="ate"
    print("Is the word, \"ate\"?:", is_ate)
    # if the word is "ate", then add the index to the list so that we can have an easy to refernce record of indices where ate
    #appears
    if is_ate:
        ate_index_list.append(i)
ate_index_list

0 The
Is the word, "ate"?: False
1 dog
Is the word, "ate"?: False
2 ate
Is the word, "ate"?: True
3 the
Is the word, "ate"?: False
4 snow
Is the word, "ate"?: False

[2]

# if, else, and elif

In [9]:
random_numbers =[1,6,23,765432,432,1,34,43,5,7,4]
not_greater_than_10=[]
greater_than_10=[]
#is the number greater than 10
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    else:
        print(number,"is not greater than 10")
        not_greater_than_10.append(number)

1 is not greater than 10
6 is not greater than 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is not greater than 10
34 is greater than 10
43 is greater than 10
5 is not greater than 10
7 is not greater than 10
4 is not greater than 10

In [10]:
greater_than_10

[23, 765432, 432, 34, 43]

In [11]:
not_greater_than_10

[1, 6, 1, 5, 7, 4]

In [17]:
random_numbers =[1,6,23,765432,432,1,34,43,5,7,4, -1, -45, -103]
not_greater_than1_0=[]
greater_than1_10=[]
greater_than1_0=[]
#is the number greater than 10
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater_than1_10.append(number)
    elif number >=0:
        print(number,"is not greater than 10, but greater than 0")
        greater_than1_0.append(number)
       
    else:
        print(number, "is negative")
        not_greater_than1_0.append(number)

1 is not greater than 10, but greater than 0
6 is not greater than 10, but greater than 0
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is not greater than 10, but greater than 0
34 is greater than 10
43 is greater than 10
5 is not greater than 10, but greater than 0
7 is not greater than 10, but greater than 0
4 is not greater than 10, but greater than 0
-1 is negative
-45 is negative
-103 is negative

In [18]:
not_greater_than1_0, greater_than1_10, greater_than1_0

([-1, -45, -103], [23, 765432, 432, 34, 43], [1, 6, 1, 5, 7, 4])

In [19]:
# use del lst[i] to delete the ith element from lst
del greater_than1_10[1]
del greater_than1_0[1]
del not_greater_than1_0[1]
greater_than1_10, greater_than1_0, not_greater_than1_0

([23, 432, 34, 43], [1, 1, 5, 7, 4], [-1, -103])

In [20]:
# passing -1 as a list calls the last element in the list
# passing -1 when using del lst[i] will delete the last element in the list
del greater_than1_10[-1]
del greater_than1_0[-1]
del not_greater_than1_0[-1]
greater_than1_10, greater_than1_0, not_greater_than1_0

([23, 432, 34], [1, 1, 5, 7], [-1])

## Use lst.remove(val)

In [21]:
# use lst.remove(val)
greater_than1_10.remove(23)

#if you rmove a value that appers twice in the list, than the first apperance of that value will be removed

greater_than1_0.remove(1)
greater_than1_10,greater_than1_0

([432, 34], [1, 5, 7])

## Use lst.pop()

In [26]:
last_val_in_lst = greater_than_10.pop()
greater_than_10, last_val_in_lst

([23, 765432, 432, 34], 43)

## Sorthing lists

In [28]:
# soted(lst) will sprt a copy of lst
num_list =[4,1,2,5,543,22]
num_list, sorted(num_list),num_list

([4, 1, 2, 5, 543, 22], [1, 2, 4, 5, 22, 543], [4, 1, 2, 5, 543, 22])

In [29]:
string_list =["A", "list", "of","strings"," is", "in", "string_lsit"]
string_list, sorted(string_list)

(['A', 'list', 'of', 'strings', ' is', 'in', 'string_lsit'],
 [' is', 'A', 'in', 'list', 'of', 'string_lsit', 'strings'])

In [30]:
#lst.sort() wll sort the original list object
num_list.sort()
num_list

[1, 2, 4, 5, 22, 543]

In [31]:
# sorting miced types will generate an error
# you cannot compare strings and numerical values
sorted(num_list+string_list)

TypeError: '<' not supported between instances of 'str' and 'int'

## List slices

In [32]:
# a slice of a list takes a subset of values form a list
lst = [1,2,3,4,5,6,6,7]
# compare full list to sliced list
lst, lst[2:5]

([1, 2, 3, 4, 5, 6, 6, 7], [3, 4, 5])

In [33]:
#count through the index by twos
#explicit start and end index values
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

## Lists and generator functions

In [34]:
# save a generator function without creating a list 
generator = ( i for i in range (20))
generator

In [35]:
list1= list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
list2 = [2 * i for i in range(20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]